<mat-sidenav-container class="sidenav-container">
  <mat-sidenav
    #drawer
    class="sidenav"
    fixedInViewport
    [attr.role]="(isHandset$ | async) ? 'dialog' : 'navigation'"
    [mode]="(isHandset$ | async) ? 'over' : 'side'"
    [opened]="(isHandset$ | async) === false"
  >
    <mat-toolbar>Menu</mat-toolbar>
    <mat-nav-list>
      <a mat-list-item href="#">Users</a>
      <a mat-list-item routerLink="/breeds">Breeds</a>
      <a mat-list-item routerLink="/cows">Cows</a>
      <a mat-list-item routerLink="/milk-sessions">Milk Session</a>
    </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content>
    <mat-toolbar color="primary">
      @if (isHandset$ | async) {
      <button
        type="button"
        aria-label="Toggle sidenav"
        mat-icon-button
        (click)="drawer.toggle()"
      >
        <mat-icon aria-label="Side nav toggle icon">menu</mat-icon>
      </button>
      }
      <span>BovIQ</span>
    </mat-toolbar>
    <main>
      <app-main-content></app-main-content>
    </main>
  </mat-sidenav-content>
</mat-sidenav-container>
